.navbar .navbar-brand {
    color: white;
    font-size: 30px;
    font-style: oblique;
}

.login-logo {
    color: rgb(49, 49, 49);
    font-size: 30px;
    font-style: oblique;
}

.navbar .navbar-brand span,
.login-logo span {
    font-style: oblique;
    color: red;
}

.navbar .navbar-nav .nav-link {
    font-size: 20px !important;
    color: white !important;
    border-bottom: 4px solid transparent;
}

.navbar .navbar-nav .nav-link:hover {
    border-bottom: 4px solid white;
}

.product-name {
    width: 220px;
}
.cards-section .C-section-Heading h5 {
    font-size: 25px;
    color: rgb(85, 77, 77);

}

.cards-section .C-section-Heading h6,
del {
    font-size: 20px;
    color: red;

}

.cards-section .C-section-Heading {
    padding: 20px;
    border-bottom: 1px solid rgb(206, 204, 204);
}

/* .products {
    padding: 30px 50px;
} */
/* 
.card-grp {
    display: flex;
    justify-content: space-between;
}

.card-grp .card {
    width: 340px;
    margin: 5px;
} */

.shoping-logos .shop-log-1,
.shoping-logos .shop-log-2,
.shoping-logos .shop-log-3,
.bi-star-fill {

    color: #929090;
    font-size: 20px;
    margin: 0px 4px;

}

.shoping-logos .shop-log-1:hover,
.shoping-logos .shop-log-2:hover,
.shoping-logos .shop-log-3:hover,
.navbar-nav .shop-log-1:hover,
.navbar-nav .shop-log-2:hover,
.navbar-nav .shop-log-3:hover {

    color: rgb(248, 7, 7);
}

.product-name,
.product-price {
    font-size: 18px;
    font-weight: 500;
    color: rgb(34, 33, 33);
    font-style: oblique;
}

.product-price {
    line-height: 3px;
}

.product-price del {
    color: rgb(206, 13, 13);
}

.card-img-top {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 2px 5px 10px rgb(187, 184, 184);
}

.card-img-top:hover {
    transform: translate();
    box-shadow: 2px 10px 30px black;
    transition: .5s;
}

/* add to cart navbar */

.cart-nav,
.bill-heading {
    border-bottom: 4px solid rgb(17, 17, 17);
}

.cart-body {
    margin: 20px 5px;
    padding: 0px 5px 30px 5px;
    border: .5px solid rgb(212, 210, 210);
    background-color: rgb(245, 241, 248);
}
.cart-body:hover {
    transition: .5s;
    box-shadow: 2px 5px 15px black;
}

#add_products {
    border-right: 1px solid rgb(141, 140, 140);
    background-color: rgb(233, 214, 250);
    height: 100%;
}


.btn_plus,
.btn_minus {

    border: none;
    padding: 5px;
    font-family: none;
    font-size: none;
    line-height: .5;
    border-radius: 50%;
}

.cart_quantity {


    padding: 5px 30px;
    background-color: rgb(237, 250, 250);
    border: 1px solid black;
    border-radius: 15px;
    font-weight: 600;
}

.cart-body .bi-trash {
    color: red;
    font-size: 20px;
    padding: 0;
    text-align: right
}

.nav-link #cart_count {
    font-size: 20px;
    color: rgb(245, 12, 12);
}
.bill-section
{
    background-color: rgb(233, 214, 250);
}
.bill-card
{
    border: 1px solid black;
    padding: 0px 5px;
    background-color: white;
}
.bill-card li
{
    padding: 2px;
}
.bill
{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 15px;
}
.saving_note
{
    color: green;
}